<template>
    <div class="white">
        <InternalBanner :dataMovie="infoMovie"/>
        <v-row>
            <v-col
                md="4"
            >
                <InternalDescription :dataDescription="infoMovie"/>
            </v-col>
            <v-col
                md="8"
            >
                <div v-if="step == 1">
                    <h1 class="title-functions">FECHA FUNCIONES</h1>
                    <InternalDateFunction @dataDateFunction="dateFunction"/>
                </div>
                <div v-else-if="step == 2">
                    <h1 class="title-functions">SELECCIONA LOCACIÓN</h1>
                    <v-btn
                        class="mx-2"
                        fab
                        dark
                        small
                        color="#646464"
                        @click="step -= 1"
                    >
                        <v-icon dark>
                            mdi-arrow-left
                    </v-icon>
                    </v-btn>
                    <InternalLocationNumber @dataLocationNumber="dataLocationNumber" :dataNumberChairs="dataChairsNumberAvailablePrice"/>
                </div>
                <div v-else-if="step == 3">
                    <h1 class="title-functions">SELECCIONA LOCACIÓN</h1>
                                        <v-btn
                        class="mx-2"
                        fab
                        dark
                        small
                        color="#646464"
                        @click="step -= 1"
                    >
                        <v-icon dark>
                            mdi-arrow-left
                    </v-icon>
                    </v-btn>
                    <InternalSelectLocation 
                        :dataCategoryNumber="dataCategoryNumber"
                        :dataChairsAvailable="dataChairsAvailable"
                        :scheduleSelected="scheduleSelect"
                         />
                </div>
            </v-col>
        </v-row>
    </div>
</template>

<script>
    import { 
        InternalBanner, 
        InternalDescription, 
        InternalDateFunction,
        InternalLocationNumber,
        InternalSelectLocation
    } from '@/components/Inside';
    import Api from '@/services/api.js';

    export default {
        name: "InsidePage",
        components:{
            InternalBanner,
            InternalDescription,
            InternalDateFunction,
            InternalLocationNumber,
            InternalSelectLocation
        },
        data: () => ({
            infoMovie: {},
            step: 1,
            dataCategoryNumber: [],
            scheduleSelect: [],

            dataChairsNumberAvailablePrice: [],
            dataChairsAvailable:[]
        }),
        mounted(){
            this.generalInfoMovie()
        },
        methods:{
            async generalInfoMovie(){
                const path = window.location.pathname.split('/')[2]
                const api = new Api();
                const dataMovie = await api.internalMovie(path)
                !dataMovie.data && this.$router.push({ path: `/404` });
                this.infoMovie = dataMovie.data
            },
            async dataLocationNumber(dataInfo){
                const api = new Api();
                this.dataChairsAvailable = await api.chairsAvailable(dataInfo.category, this.scheduleSelect.id)
                this.dataCategoryNumber = dataInfo;
                this.step = 3
            },
            
            async dateFunction(scheduleSelect){
                if(scheduleSelect){
                    this.step = 2;
                    this.scheduleSelect = scheduleSelect;
                    const api = new Api();
                    const request = await api.numberOfChairsAndPrice(scheduleSelect.id)
                    this.dataChairsNumberAvailablePrice = request;
                }
            }
        }
    }
</script>

<style scoped>
    .title-functions{
        margin: 30px 0;
        font-size: 36px;
        color: #B78F21;
    }
</style>