<template>
  <div>
    <h1 class="text-center">MULTIPLEX</h1>
    <MovieCard :dataMovie="dataMovie" />
    <infinite-loading @infinite="getMovies"></infinite-loading>
  </div>
</template>

<script>
import MovieCard from "@/components/Cards/MovieCard.vue";
import Api from '@/services/api.js';
import InfiniteLoading from 'vue-infinite-loading';

export default {
  name: "MovieGeneral",
  components: {
    MovieCard,
    InfiniteLoading
  },
  data: () => ({
    dataMovie: [],
    page: 1,
  }),
  methods:{
    async getMovies($state){
      const api = new Api();
      let infoMovie = await api.movies(this.page);
      if(this.page <= infoMovie.last_page){
        this.page += 1;
        this.dataMovie.push(...infoMovie.data);
        $state.loaded();
      } else {
        $state.complete();
      }
    }
  }
};
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Quicksand:wght@300;500;700&display=swap");
h1 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 72px;
  color: #b78f21;
}
</style>
