<template>
  <div>
    <h1 class="text-center">MULTIPLEX</h1>
    <SnackCard :dataSnack="dataSnack" />
    <infinite-loading @infinite="getSnacks"></infinite-loading>
  </div>
</template>

<script>
import SnackCard from "@/components/Cards/SnackCard.vue";
import Api from "@/services/api.js";
import InfiniteLoading from "vue-infinite-loading";

export default {
  name: "SnackGeneral",
  components: {
    SnackCard,
    InfiniteLoading,
  },
  data: () => ({
    dataSnack: [],
    page: 1,
  }),
  methods: {
    async getSnacks($state) {
      const api = new Api();
      let infoSnack = await api.snacks(this.page);
      if (this.page <= infoSnack.last_page) {
        this.page += 1;
        this.dataSnack.push(...infoSnack.data);
        $state.loaded();
      } else {
        $state.complete();
      }
    },
  },
};
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Quicksand:wght@300;500;700&display=swap");
h1 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 72px;
  color: #b78f21;
}
</style>
