<template>
    <carousel
        :perPage="3"
        paginationColor="#DAE0EF"

    >
        <slide v-for="food in dataFood" :key="food.id">
            <v-card
                class="mx-auto"
                max-width="250"
                height="450"
            >
                <v-img
                class="white--text align-end"
                width="250px"
                height="150"
                :src="food.img"
                >
                </v-img>

                <v-card-title class="pb-0">
                {{food.name}}
                </v-card-title>

                <v-card-text class="text--primary">
                <div v-html="food.description"></div>
                </v-card-text>
                <v-card-text>
                    <h3>${{food.price.toString()
                          .replace(/\B(?=(\d{3})+(?!\d))/g, ".")}}</h3>
                </v-card-text>


                <v-card-actions>
                <v-btn-toggle
                    color="orange accent-3"
                    multiple
                    v-model="toggle_multiple"
                >
                <v-btn
                    text
                    fab
                    :value="`${food.id}-${food.price}`"
                >
                    <v-icon>mdi-cart-plus</v-icon>
                </v-btn>
                
                </v-btn-toggle>
                </v-card-actions>
            </v-card>
        </slide>
    </carousel>
</template>

<script>
    import { Carousel, Slide } from 'vue-carousel';
    export default {
        name: "InternalCarousel",
        props: ['dataFood'],
        components:{
            Carousel,
            Slide
        },
        data: () => ({
            toggle_multiple: []
        }),
        watch:{
            toggle_multiple(val){
                this.$emit('foodPrice', val)
            }
        }
    }
</script>