<template>
    <div>
        <div class="location-box">
            <div class="text-category">
                <p style="padding: 25px 10px 0 0"><strong>General</strong></p>
                <p style="padding: 35px 10px 0 0"><strong>Preferencial</strong></p>
            </div>
            <div class="button-content">
                <!-- General -->
                <v-btn
                fab 
                class="ma-2 button-style" 
                color="#EFBC30"
                :disabled="selectPreferencial"
                @click="decrease('general')"
                >-</v-btn>
                <!-- Preferencial -->
                <v-btn
                fab 
                class="ma-2 button-style" 
                color="#EFBC30"
                :disabled="selectGeneral"
                @click="decrease('preferencial')"
                >-</v-btn>
            </div>
            <div class="text-category-number">
                <p style="padding: 25px 10px 0 0"><strong>{{generalNumber}}</strong></p>
                <p style="padding: 35px 10px 0 0"><strong>{{preferencialNumber}}</strong></p>
            </div>
            <div class="button-content">
                <!-- General -->
                <v-btn
                fab 
                class="ma-2 button-style" 
                color="#EFBC30"
                :disabled="selectPreferencial"
                @click="increase('general')"
                >+</v-btn>
                <!-- Preferencial -->
                <v-btn
                fab 
                class="ma-2 button-style" 
                color="#EFBC30"
                :disabled="selectGeneral"
                @click="increase('preferencial')"
                >+</v-btn>
            </div>
        </div>
        <div class="pay-info">
            <v-divider></v-divider>
                <div class="total-to-pay">
                    <h2>Total a pagar</h2>
                    <h2>${{totalToPay.toString()
                          .replace(/\B(?=(\d{3})+(?!\d))/g, ".")}}</h2>
                </div>
            <v-divider></v-divider>
        </div>
        <div style="margin-top: 20px">
            <v-btn
                :disabled="!enableButton"
                color="#B78F21"
                class="ma-2 white--text"
            ><strong @click="sendParentInfo()">Continuar</strong></v-btn>
        </div>
    </div>
</template>

<script>
    export default{
        name: "InternalLocationNumber",
        props: ['dataNumberChairs'],
        data: () => ({
            generalNumber: 0,
            preferencialNumber: 0,
            selectPreferencial: false,
            selectGeneral: false,
            enableButton: false,
            totalToPay: 0,
        }),
        methods:{
            decrease(category){
                if(category == 'general'){
                    this.generalNumber = this.generalNumber < 1 ? this.generalNumber : this.generalNumber - 1;
                    this.selectGeneral = this.generalNumber < 1 ? false : true;
                    this.totalToPay = this.generalNumber < 1 ? 0 : this.totalToPay - 11000
                }else{
                    this.preferencialNumber = this.preferencialNumber < 1 ? this.preferencialNumber : this.preferencialNumber - 1;
                    this.selectPreferencial = this.preferencialNumber < 1 ? false : true;
                    this.totalToPay = this.preferencialNumber < 1 ? 0 : this.totalToPay - 15000
                }
            },
            increase(category){
                if(category == 'general'){
                    this.totalToPay = this.generalNumber >= 9 || this.generalNumber >= this.dataNumberChairs.general ?
                                         this.totalToPay : this.totalToPay + this.dataNumberChairs.general_price;
                    this.generalNumber = this.generalNumber >= 9 || this.generalNumber >= this.dataNumberChairs.general ?
                                         this.generalNumber : this.generalNumber + 1;
                    this.selectGeneral = true;
                }else{
                    this.totalToPay = this.preferencialNumber >= 9 || this.generalNumber >= this.dataNumberChairs.preferencial ?
                                     this.totalToPay : this.totalToPay + this.dataNumberChairs.preferencial_price;
                    this.preferencialNumber = this.preferencialNumber >= 9 || this.generalNumber >= this.dataNumberChairs.preferencial ?
                                     this.preferencialNumber : this.preferencialNumber + 1;
                    this.selectPreferencial = true;
                }
            },
            sendParentInfo(){
                const info = {
                    category: this.selectPreferencial ? 'preferencial' : 'general',
                    numChairs: this.selectPreferencial ? this.preferencialNumber : this.generalNumber,
                    totalToPay: this.totalToPay,
                }
                this.$emit('dataLocationNumber', info)
            }
        },
        watch:{
            totalToPay(){
               this.enableButton = this.totalToPay != 0 ? true : false;
            }
        }
    }
</script>

<style scoped>
    .location-box{
        display: flex;
        align-content: center;
        padding-left: 25%;
    }
    .button-content{
        display: flex;
        flex-direction: column;
    }
    .button-content .button-style{
        color: white; 
        font-size:50px
    }
    .text-category{
        text-align: right;
    }
    .text-category-number{
        text-align: center;
        margin: 0 40px;
        font-size: 18px;
    }
    .pay-info{
        margin-top: 100px;
        margin-right: 100px;
    }
    .total-to-pay{
        display: flex;
        justify-content: space-between;
        margin: 20px;
        color: #646464;
    }
</style>