<template>
    <div>
        <v-row class="function-info">
            <div class="date-functions">
                <v-date-picker 
                    v-model="picker"
                    @change="printHello()"
                    elevation="15"
                    :min="actualDate"
                    :max="weekDate"
                    color="#B78F21"
                ></v-date-picker>
            </div>
            <div class="available-functions">
                <h1 class="available-functions-title">FUNCIONES POR MULTIPLEX</h1>
                <div v-if="placeEnable">
                    <v-expansion-panels class="mb-3" v-for="place in dataFunctions" :key="place.id">
                        <v-expansion-panel>
                            <v-expansion-panel-header expand-icon="mdi-menu-down">
                                    <i class="mdi mdi-map-marker icon-panel">
                                        <div class="icon-panel-text">{{place.name}}</div>
                                    </i>
                            </v-expansion-panel-header>
                            <v-expansion-panel-content>
                                <div >
                                    <v-btn
                                        rounded
                                        class="ma-2"
                                        style="color: white"
                                        color="#EFBC30"
                                        v-for="schedule in place.entertainments" :key="schedule.id"
                                        @click="dateSelect(schedule)"
                                    >
                                        {{schedule.hour}}
                                    </v-btn>
                                    <br>
                                </div>
                            </v-expansion-panel-content>
                        </v-expansion-panel>
                    </v-expansion-panels>
                </div>
                <div v-else>
                    <v-expansion-panels class="mb-3">
                        <v-expansion-panel disabled>
                            <v-expansion-panel-header expand-icon="mdi-menu-down">
                                        <i class="mdi mdi mdi-filmstrip icon-panel">
                                            <div class="icon-panel-text">No hay funciones disponibles</div>
                                        </i>
                            </v-expansion-panel-header>
                        </v-expansion-panel>
                    </v-expansion-panels>
                </div>
            </div>
        </v-row>
    </div>
</template>

<script>
    import Api from '@/services/api.js';

    export default {
        name: "InternalDateFunction",
        data: () => ({
            actualDate: '',
            weekDate: '',
            picker: '',
            dataFunctions: [],
            
            placeEnable: true,
            places: ["Américas", "Gran estación", "Unicentro", "Titán"],
            schedules:[
                {
                    category: "Horarios 2D",
                    schedules: ["2 PM", "4 PM", "6 PM"]
                },
                {
                    category: "Horarios 2D - Subtitulado",
                    schedules: ["2 PM", "6 PM"]
                }
            ],
        }),
        mounted(){
            this.printActualDate();
            this.availableFunctions(this.actualDate);
        },
        methods:{
            printHello(){
                this.availableFunctions(this.picker)
            },
            async availableFunctions(date){
                const api = new Api();
                const path = window.location.pathname.split('/')[2]
                this.dataFunctions = await api.availableFunctions(path, date)
                this.placeEnable = this.dataFunctions.length <= 0 ? false : true;

            },
            printActualDate(){
                const actualDate = (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10)
                this.actualDate = this.picker = actualDate;
                let weekDate = new Date(actualDate);
                this.weekDate = (new Date(weekDate.setDate(weekDate.getDate() + 7) - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10)
            },
            dateSelect(schedule){
                const uts = localStorage.getItem('uts');
                uts ? this.$emit('dataDateFunction', schedule) : this.$router.push({ path: `/auth` });
            }
        }
    }
</script>

<style scoped>
    .function-info{
        margin-left: 5px;
    }
    .function-info .available-functions{
        width: 60%;
        padding-right: 5vh;
    }
    .function-info .date-functions{
        margin-right: 50px;
    }
    .function-info .available-functions .available-functions-title{
        color: #1F1E30;
        margin-bottom: 25px;
        font-size: 24px;
    }
    .function-info .available-functions .icon-panel {
        display: flex;
        color: #797979;
        font-size: 20px;
    }
    .function-info .available-functions .icon-panel-text{
        margin-left: 10px;
        font-style: normal;
        font-size: 18px;
    }

    .function-info .available-functions .title-schedule{
        color: #646464
    }
    
</style>