<template>
    <div>
        <v-card class="mx-auto banner-internal" width="100%" tile>
            <v-img
                height="100%"
                :src="dataMovie.img_banner"
            >
                <v-overlay
                    absolute
                    color="#000"
                >
                    <div class="info-movie">
                        <h1>
                        {{dataMovie.title}}
                        </h1>
                        <p><strong>Título en ingles: {{dataMovie.originTitle}}</strong></p>
                        <p>Estreno: {{dataMovie.premiere}}</p>
                        <p>Genero: {{genresPrint(dataMovie.genres)}}</p>
                        <p class="box-info-movie">{{dataMovie.recommendations}}</p>
                        <p class="box-info-movie">{{dataMovie.time}} Min</p>
                    </div>
                </v-overlay>
                
            </v-img>
                <img
                    class="movie-image"
                    :src="dataMovie.img"
                >
                
        </v-card>
    </div>
</template>

<script>
    export default {
        name: "InternalBanner",
        props: ["dataMovie"],
        methods:{
            genresPrint(genres){
                if(genres){
                    const genreList = genres.map(element => {
                        return element.genres
                    });
                    return genreList.join(', ');
                }
                return []
            }   
        },
    }
</script>

<style scoped>
    .banner-internal{
        height:70vh;
    }
    .banner-internal .info-movie{
        display: flex;
        flex-direction: column;
        margin-right: 40vh;
        width: 400px;
        margin-top: 20%;
    }
    .banner-internal .info-movie .box-info-movie{
        margin-right: auto;
        background: #fff;
        padding: 8px;
        border-radius: 5px;
        color: #0B0B0B;
    }
    .movie-image{
        position:absolute;
        top: 10vh;
        height: 70vh;
        width: 20vw;
        margin-left: 10vh;
        border-radius: 10px;
    }

</style>