<template>
    <div>
        <v-img
            v-if="dataCategoryNumber.category == 'general'"
            class="align-image-center"
            width="500"
            src="@/assets/location/general.png"
        ></v-img>
        <v-img
            v-else
            class="align-image-center"
            width="500"
            src="@/assets/location/preference.png"
        ></v-img>
        <div class="select-chairs">
            <h2>Selecciona la posición de las sillas</h2>
            <br>
            <div>
                <h4>Sillas faltantes: {{numChairsSelect}}</h4>
                <div v-for="row in dataChairsAvailable" :key="row.id" style="margin: 10px auto">
                   <v-row
                    align="center"
                    justify="center"
                    style="margin: 20px"
                   >
                   <v-btn-toggle
                        v-model="toggle_multiple"
                        dense
                        background-color="white"
                        multiple
                    >
                        <div v-for="chair in row" :key="chair.id" style="margin: 0 5px">
                            <v-btn :value="`${chair.row}${chair.number}`">
                                <strong>{{chair.row}}{{chair.number}}</strong>
                            </v-btn>
                        </div>
                    </v-btn-toggle>
                   </v-row>
                </div>
            </div>
        </div>
        <div class="carousel-box">
            <InternalCarousel :dataFood="carouselFood" @foodPrice="foodSelectPrice"/>
        </div>
        <div class="pay-info">
            <v-divider></v-divider>
                <div class="total-to-pay">
                    <h2>Total a pagar</h2>
                    <h2>${{(totalToPay+totalToPayFood).toString()
                          .replace(/\B(?=(\d{3})+(?!\d))/g, ".")}}</h2>
                </div>
            <v-divider></v-divider>
        </div>
        <div class="text-center" style="margin-bottom:30px">
            <v-btn
                style="padding: 0 30px"
                color="#EFBC30"
                class="ma-2 white--text"
                @click="sendDataEmail()"
            ><strong>Pagar</strong></v-btn>
        </div>
    </div>
</template>

<script>

    import InternalCarousel from './InternalCarousel.vue';
    import Api from '@/services/api.js';

    export default {
        name: "InternalSelectLocation",
        props: ['dataCategoryNumber', 'dataChairsAvailable', 'scheduleSelected'],
        components:{
            InternalCarousel
        },
        data: () => ({
            category: 'preference',
            toggle_multiple: [],
            carouselFood: [],
            snackSelect: [],
            totalToPay: 0,
            totalToPayFood: 0,
        }),
        mounted(){
            this.totalToPay = this.dataCategoryNumber.totalToPay
            this.randomFood();
        },
        methods:{
            async randomFood(){
                const api = new Api();
                this.carouselFood = await api.carouselFood();
            },
            foodSelectPrice(data){
                let food = [];
                let price = 0;
                data.forEach(element => {
                    let select = element.split('-')
                    const body = {
                        id: select[0],
                        price: select[1]
                    }
                    food.push(body);
                });
                food.forEach(element => {
                    price += parseInt(element.price, 10)
                });
                this.totalToPayFood = price;
                this.snackSelect = data;
            },
            async sendDataEmail(){
                if(this.dataCategoryNumber.numChairs - this.toggle_multiple.length == 0){
                    const api = new Api();
                    const chairs = this.toggle_multiple.map(element => {
                        return {
                            "row": element.split("")[0],
                            "number": element.split("")[1],
                        }
                    })
                    const snacks = this.snackSelect.map(element => {
                        return parseInt(element.split("-")[0],10);
                    })
                    const body = {
                        "function_id": this.scheduleSelected.id,
                        "type_chair": this.dataCategoryNumber.category,
                        "chairs": chairs,
                        "snacks": snacks
                    }
                    await api.payPurchase(body);
                    alert("Compra realizada");
                    location = '/'
                }else{
                    alert("Selecciona todas las sillas deseadas")
                }
            }
        },
        computed:{
            numChairsSelect(){
                return this.dataCategoryNumber.numChairs - this.toggle_multiple.length;
            }
        },
        watch:{
            toggle_multiple(){
                if(this.toggle_multiple.length > this.dataCategoryNumber.numChairs){
                    this.toggle_multiple.pop();
                }
            }
        }
    }
</script>

<style scoped>
    .align-image-center{
        margin: 0 auto;
    }
    .select-chairs{
        margin: 40px;
    }
    .carousel-box{
        margin: 0 40px;
    }
    .pay-info{
        margin: 50px 50px 30px 0;
    }
    .total-to-pay{
        display: flex;
        justify-content: space-between;
        margin: 20px;
        color: #646464;
    }
</style>
