<template>
    <div class="description-box">
        <div v-html="dataDescription.description"></div>
        <div>
            <h3>Título original</h3>
            <p>{{dataDescription.originTitle}}</p>
            <h3>País de Origen</h3>
            <p>{{dataDescription.countryOrigin}}</p>
            <h3>{{titleDirectors}}</h3>
            <p>{{dataDescription.directors}}</p>
            <h3>{{titleActors}}</h3>
            <p>{{dataDescription.actors}}</p>
        </div>
    </div>
</template>

<script>
export default {
    name: "InternalDescription",
    props: ["dataDescription"],
    computed:{
        titleDirectors(){
            return this.dataDescription.directors ?
                    this.dataDescription.directors.split(',').length > 1 ? "Directores" : "Director" :
                    ''
        },
        titleActors(){
            return this.dataDescription.actors ?
                this.dataDescription.actors.split(',').length > 1 ? "Actores" : "Actor" :
                ''
        
        },
    }
}
</script>

<style scoped>
    .description-box{
        margin: 12vh 8vh 0 10vh;
        color: #1F1E30;
    }
</style>
