<template>
  <div>
    <h3 class="text-center">En cartelera</h3>
    <v-main>
      <v-container>
        <v-row>
          <v-col v-for="movie in dataMovie" :key="movie.id" cols="4">
            <v-card @click="routerMovie(movie.path)" class="mx-auto my-12" max-width="374">
              <v-img
                height="500"
                :src="movie.img"
              ></v-img>

              <v-card-title
                ><p>{{ movie.title }}</p></v-card-title
              >

              <v-card-text>
                <p style="font-size: 14px">
                  Titulo Original: {{ movie.originTitle }}
                </p>
                <h4>Estreno: {{ movie.premiere }}</h4>
                <h4>Genero: {{ genresPrint(movie.genres)}}</h4>
                <h4 class="box-info-movie">{{ movie.recommendations }}</h4>
                <div style="width: 4rem">
                  <h4 class="box-info-movie">{{ movie.time }} Min</h4>
               </div>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </div>
</template>

<script>
export default {
  name: "MovieCard",
  props: ["dataMovie"],
  methods: {
    routerMovie(path) {
      this.$router.push({ path: `/detalle/${path}` });
    },
    genresPrint(genres){
      const genreList = genres.map(element => {
        return element.genres
      });
      return genreList.join(', ');
    }
  },
};
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Quicksand:wght@300;500;700&display=swap");
h3 {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 30px;
  color: #656565;
}
p {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 28px;
  color: #141414;
}
h4 {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  color: #3c3c3c;
}
.box-info-movie {
  margin-right: auto;
  background: #e8e8e8;
  padding: 2px;
  margin-top: 5px;
  border-radius: 3px;
  color: #0b0b0b;
}
</style>
