<template>
  <div>
    <h3 class="text-center">Comidas</h3>
    <v-main>
      <v-container>
        <v-row>
          <v-col v-for="snack in dataSnack" :key="snack.id" cols="4">
            <v-hover v-slot="{ hover }">
              <v-card class="mx-auto my-12" max-width="374">
                <v-img
                  height="500"
                  :src="snack.img"
                >
                  <v-expand-transition>
                    <div
                      v-if="hover"
                      class="d-flex transition-fast-in-fast-out v-card--reveal text-h2 white--text"
                      style="height: 100%"
                    >
                      $
                      {{
                        snack.price
                          .toString()
                          .replace(/\B(?=(\d{3})+(?!\d))/g, ".")
                      }}
                    </div>
                  </v-expand-transition></v-img
                >

                <v-card-title
                  ><p>{{ snack.name }}</p></v-card-title
                >
                <v-card-text>
                  <h4 v-html="snack.description"></h4>
                </v-card-text>
              </v-card>
            </v-hover>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </div>
</template>

<script>
export default {
  name: "SnackCard",
  props: ["dataSnack"],
};
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Quicksand:wght@300;500;700&display=swap");
h3 {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 30px;
  color: #656565;
}
.v-card--reveal {
  align-items: center;
  bottom: 0;
  background: #e0b029;
  justify-content: center;
  position: absolute;
  width: 100%;
}
p {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 20px;
  color: #141414;
}
h4 {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  color: #3c3c3c;
}
</style>
