<template>
  <v-app id="inspire">
    <v-app-bar app>
      <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>

      <v-toolbar-title class="title-nav" @click="routerHome()"
        >Cine Jungla</v-toolbar-title
      >
      <v-spacer></v-spacer>

      <div v-if="authentication">
        <p class="login" style="padding-top:20px">{{name}}</p>
      </div>

      <div v-else>
        <v-btn text @click="routerLogin()" class="logout">
          Iniciar Sesión / Registrarse
        </v-btn>
      </div>
    </v-app-bar>

    <v-navigation-drawer v-model="drawer" fixed temporary>
      <v-list>
        <v-list-item href="/">
          <v-list-item-icon>
            <v-icon>mdi-movie</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>Películas</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item href="/snacks">
          <v-list-item-icon>
            <v-icon>mdi-food</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>Comidas</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <div v-if="authentication">
           <v-list-item >
              <v-list-item-icon>
                <v-icon>mdi-apple-keyboard-caps</v-icon>
              </v-list-item-icon>
              <v-list-item-content>
                <v-list-item-title>Puntos: {{points}}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
            
            <v-list-item @click="logout()">
              <v-list-item-icon>
                <v-icon>mdi-logout</v-icon>
              </v-list-item-icon>
              <v-list-item-content>
                <v-list-item-title>Cerrar Sesión</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
        </div>
       
      </v-list>
    </v-navigation-drawer>
    <div class="grey lighten-2">
      <v-main>
        <router-view />
      </v-main>
    </div>
  </v-app>
</template>

<script>
import Api from '@/services/api.js';
export default {
  name: "GeneralView",
  data: () => ({
    drawer: null,
    moviePrint: true,
    InsidePrint: false,
    authentication: false,
    name: '',
    points: 0,
  }),
  mounted(){
    this.authorized();
  },
  methods: {
    routerLogin() {
      this.$router.push({ path: "/auth" });
    },
    routerHome() {
      this.$router.push({ path: "/" });
    },
    async authorized(){
      const uts = localStorage.getItem('uts');
      if(uts){
        this.authentication = true
        const api = new Api();
        const request = await api.user();
        this.name = request.name
        this.points = request.points ? request.points : 0;
      }
    },
    async logout(){
      const uts = localStorage.getItem('uts');
      if(uts){
        const api = new Api();
        await api.logout()
      }
      
    }
  },
};
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Quicksand:wght@300;500;700&display=swap");
.title-nav {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 30px;
  color: #656565;
}
.logout {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 15px;
  color: #646464;
}
.login {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 20px;
  padding-left: 5px;
  color: #646464;
}
</style>
