<template>
  <div class="login">
    <div class="image">
      <img class="cinema-img" src="../../src/assets/cinema.svg" alt="cinema" />
    </div>
    <div class="form-container">
      <h1 class="login-title">Cine Jungla</h1>
      <p class="subtitle">
        Vive la mejor experiencia y comodidad del cine <br />
        comprando desde tu casa
      </p>
      <div>
      <v-btn
          class="log-in"
          outlined
          :style="enableLoginButton == true ? `color:#b78f21;` : `color:#585858;`"
          @click="changeLoginForm"
        >
          Iniciar sesión
        </v-btn>
        <v-btn
          class="register"          
          outlined
          :style="enableRegisterButton == false ? `color:#585858;` : `color:#b78f21;`"
          @click="changeRegisterForm"
        >
          Registrarse
        </v-btn>
        </div>
      <div v-show="showLogin">        
        <div v-show="enableLoginButton">
          <LoginForm />
        </div>
        <div v-show="enableRegisterButton">
          <RegisterForm />
        </div>
        <!-- <div v-show="enableLoginButton == true">
          <v-btn class="py-6 px-3 log-in-button" outlined> Entrar </v-btn>
          <v-btn
            class="forgot-password"
            outlined
            @click="showLogin = !showLogin"
          >
            ¿Olvidaste la contraseña?
          </v-btn>
        </div> -->
      </div>
      <!-- <div v-show="!showLogin">
        <ForgotPasswordForm />
      </div> -->
      <!-- <div>
        <RecoverPasswordForm />

      </div> -->
    </div>
  </div>
</template>
<script>
import LoginForm from "@/components/Forms/LoginForm.vue";
import RegisterForm from "@/components/Forms/RegisterForm.vue";
// import ForgotPasswordForm from "@/components/Forms/ForgotPasswordForm.vue";
// import RecoverPasswordForm from "@/components/Forms/RecoverPasswordForm.vue"

export default {
  name: "FormGeneral",
  components: {
    LoginForm,
    RegisterForm,
    // ForgotPasswordForm,
    // RecoverPasswordForm,
  },
  data: () => ({
    enableLoginButton: true,
    enableRegisterButton: false,
    showLogin: true,
    RecoverPasswordFormButton: true,
  }),
  methods: {
    changeLoginForm() {
      this.showLogin = true;
      this.enableLoginButton= true;
      this.enableRegisterButton = false;
      
           
    },
    changeRegisterForm(){
      this.showLogin = true;
      this.enableRegisterButton = true;
      this.enableLoginButton = false;
      
    }
  },
};
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Quicksand:wght@300;500;700&display=swap");
body {
  margin: 0;
  font-family: "Montserrat";
}
.image {
  width: 100%;
  height: 100%;
  background: #e5e5e5;
  display: flex;
  place-items: center;
  justify-content: center;
}
.cinema-img {
  width: 564px;
  height: 378px;
}
.login {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}
.form-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 656px;
}
.login-title {
  font-family: "Montserrat";
  font-size: 64px;
  font-style: bold;
  font-weight: 600;
  line-height: 78px;
  letter-spacing: 0em;
  text-align: left;
  top: 0;
  padding-right: 20px;
  position: relative;
}
.subtitle {
  font-family: "Montserrat";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  color: #535353;
  text-align: left;
  padding-top: 30px;
  position: relative;
  top: 0;
}
.v-btn {
  letter-spacing: 0;
}
.log-in {
  font-family: "Montserrat";
  font-weight: 600;
  color: #b78f21;
  font-size: 24px;
  border: none;
  margin-top: 50px;
  text-transform: none;
}
.register {
  font-family: "Montserrat";
  font-weight: 600;
  color: #585858;
  font-size: 24px;
  border: none;
  margin-top: 50px;
  text-transform: none;
}
.log-in-button {
  font-family: "Montserrat";
  color: white;
  padding: 10px 10px 10px 10px;
  font-weight: 600;
  font-size: 24px;
  margin-top: 66px;
  background: #b78f21;
  border-radius: 15px;
  text-transform: none;
}
.forgot-password {
  font-family: "Montserrat";
  font-weight: 600;
  color: #585858;
  text-decoration: none;
  font-size: 24px;
  margin-top: 66px;
  border: none;
  text-transform: none;
}

@media (max-width: 640px) {
  .image {
    display: none;
  }
  .v-btn {
    letter-spacing: 0;
  }
  .login-title {
    font-family: "Montserrat";
    font-size: 24px;
    font-style: bold;
    font-weight: 600;
    line-height: 78px;
    letter-spacing: 0em;
    padding-left: 10px;
  }
  .subtitle {
    font-family: "Montserrat";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    color: #535353;
    text-align: left;
    padding-left: 10px;
  }
  .log-in {
    font-family: "Montserrat";
    font-weight: 600;
    color: #b78f21;
    text-decoration: none;
    font-size: 15px;
  }
  .register {    
    font-size: 15px;
  }
  .input-email {
    font-family: "Montserrat";
    background: #fbfbfb;
    width: 350px;
    height: 50px;
    font-weight: 400px;
    font-size: 15px;
    border-radius: 20px;
    position: block;
    margin-top: 66px;
    margin-bottom: 15px;
    padding-left: 10px;
  }
  .input-password {
    font-family: "Montserrat";
    background: #fbfbfb;
    height: 66px;
    font-weight: 400px;
    font-size: 15px;
    border-radius: 20px;
    padding-left: 10px;
    position: block;
  }
  .log-in-button {
    font-family: "Montserrat";
    color: white;
    padding: 10px 10px 10px 10px;
    font-weight: 600;
    font-size: 15px;
    margin-top: 50px;
    background: #b78f21;
    border-radius: 15px;
  }
  .forgot-password {
    font-family: "Montserrat";
    font-weight: 600;
    color: #585858;
    text-decoration: none;
    font-size: 15px;
    margin-left: 19px;
  }
}
</style>
