<template>
  <div>
    <GeneralView />
  </div>
</template>

<script>
import GeneralView from './views/GeneralView.vue';

export default {
  name: 'App',
  components:{
    GeneralView
  }
};
</script>
