<template>
  <div>
    <p class="mt-10 forgot">¿Olvidaste la contraseña?</p>
    <div>
      <form action="/" class="form">
        <input
          type="email"
          placeholder="Correo Electrónico"
          class="input-email"
        />
        <v-btn class="py-6 px-3 recovery-button" outlined>
            Recuperar
        </v-btn>        
      </form>
    </div>
  </div>
</template>
<script>
export default {     
    name: "ForgotPasswordForm"    
}
</script>
<style scoped>
.v-btn {
  letter-spacing: 0;
 }
 .forgot{
   font-family: "Montserrat";
   font-size: 24px;
   color:#585858;
   font-weight: 500;
 }
.input-email {
  font-family: "Montserrat";
  background: #fbfbfb;
  width: 668px;
  height: 66px;
  font-weight: 400px;
  font-size: 24px;
  border-radius: 20px;
  position: sticky;
  margin-top: 20px;
  margin-bottom: 15px;
  padding-left: 10px;
}
.recovery-button {
  font-family: "Montserrat";
  color: white;
  padding: 10px 10px 10px 10px;
  font-weight: 600;
  font-size: 24px;
  margin-top: 66px;
  background: #b78f21;
  border-radius: 15px;
  text-transform: none;
}
@media (max-width: 640px) {
.forgot{
  font-size: 15px;
}
.input-email{
  position: block;
  height: 50px;
  font-weight: 400px;
  font-size: 15px;
}
.recovery-button{
  font-size: 15px;
}

}
</style>