<template>
    <div>
    <div class="form">
        <input
          type="email"
          placeholder="Correo Electrónico"
          class="input-email"
          v-model="email"
        />
        <input
          type="password"
          placeholder="Contraseña"
          class="input-password"
          v-model="password"
        />
        <div>              
          <v-btn class="px-3 py-7" style="background: #b78f21; color: white; margin-top: 30px; border-radius: 20px"
           @click="loginData()" outlined >
              Entrar
          </v-btn>     
        </div>  
    </div>
      
      </div>
</template>
<script>
import Api from '@/services/api.js';
export default {
    name: "LoginForm",
    data: () => ({
      email: '',
      password: ''
    }),
    methods: {
      async loginData(){
        const body = {
          "email": this.email,
          "password": this.password,
          "remember_me": true
        }
        const api = new Api();
        const request = await api.login(body)
        !request.access_token && alert('Accesos incorrectos')
      }
    }  
}
</script>
<style scoped>
.log-in {
  font-weight: 600;
  color: #b78f21;
  text-decoration: none;
  font-size: 24px;
  position: absolute;
  top: 0;
  padding-top: 334px;
  
}
 .v-btn {
  letter-spacing: 0;
 }
.register {
  font-weight: 600;
  color: #585858;
  text-decoration: none;
  font-size: 24px;
  position: absolute;
  top: 0;
  padding-top: 334px;
  padding-left: 180px;
}
.form {
  display: flex;
  flex-direction: column;
  color: #535353;
  position: sticky;
}

.input-email {
  font-family: "Montserrat";
  background: #fbfbfb;
  width: 668px;
  height: 66px;
  font-weight: 400px;
  font-size: 24px;
  border-radius: 20px;
  position: sticky;
  margin-top: 50px;
  margin-bottom: 15px;
  padding-left: 10px;
}
.input-password {
  font-family: "Montserrat";
  background: #fbfbfb;
  width: 668px;
  height: 66px;
  font-weight: 400px;
  font-size: 24px;
  border-radius: 20px;
  position: sticky;  
  padding-left: 10px;
}
.log-in-button {
  font-family: "Montserrat";
  color: white;
  padding: 10px 10px 10px 10px;
  font-weight: 600;
  font-size: 24px;
  margin-top: 66px;
  background: #b78f21;
  border-radius: 15px;
  text-transform: none;
}
.forgot-password {
  font-family: "Montserrat";
  font-weight: 600;
  color: #585858;
  text-decoration: none;
  font-size: 24px;
  margin-top: 66px;
  border: none;
  text-transform: none;
}
@media (max-width: 640px) {
.log-in {
  font-weight: 600;
  color: #b78f21;
  text-decoration: none;
  font-size: 15px;
  position: absolute; 
  margin-left: 20px;
  padding: 0;
  
}
.register {
  font-weight: 600;
  color: #585858;
  text-decoration: none;
  font-size: 15px;
  position: absolute;  
  margin-top: 300px;
  margin-left: 180px;
}
.input-email {
  font-family: "Montserrat";
  background: #fbfbfb;
  width: 350px;
  height: 50px;  
  font-weight: 400px;
  font-size: 15px;
  border-radius: 20px;
  position: block;
  margin-top: 66px;
  margin-bottom: 15px;
  padding-left: 10px;
  
}
.input-password {
  font-family: "Montserrat";
  background: #fbfbfb;
  width: 668px;
  height: 66px;
  font-weight: 400px;
  font-size: 15px;
  border-radius: 20px;
  position: block;
  padding-left: 10px; 
  width: 350px; 
}

.register-button {
  font-family: "Montserrat";
  color: white;
  padding: 10px 10px 10px 10px;
  font-weight: 600;
  font-size: 24px;
  margin-top: 66px;
  background: #b78f21;
  border-radius: 15px;  
  text-transform: none;
}

}
</style>
