<template>
    <div>
    <p class="mt-10 forgot">Restablecer contraseña</p>
    <div>
      <form action="/" class="form">
        <input
          type="password"
          placeholder="Contraseña nueva"
          class="input-password"
        />
        <input
          type="password"
          placeholder="Repetir contraseña"
          class="input-password"
        />
        <v-btn class="py-6 px-3 continue-button" outlined>
            Continuar
        </v-btn>        
      </form>
    </div>
  </div>
</template>
<script>
export default {
    name: "RecoverPasswordForm",
}
</script>
<style scoped>
.v-btn {
  letter-spacing: 0;
 }
 .forgot{
   font-family: "Montserrat";
   font-size: 24px;
   color:#585858;
   font-weight: 500;
   margin-bottom: 40px;
 }
.input-password {
  font-family: "Montserrat";
  background: #fbfbfb;
  width: 668px;
  height: 66px;
  font-weight: 400px;
  font-size: 24px;
  border-radius: 20px;
  position: sticky;  
  margin-bottom: 15px;
  padding-left: 10px;
}
.continue-button {
  font-family: "Montserrat";
  color: white;
  padding: 10px 10px 10px 10px;
  font-weight: 600;
  font-size: 24px;
  margin-top: 66px;
  background: #b78f21;
  border-radius: 15px;
  text-transform: none;
}
@media (max-width: 640px) {
.forgot{
  font-size: 15px;
}.input-password{
  position: block;
  height: 50px;
  font-weight: 400px;
  font-size: 15px;
}
.continue-button{
  font-size: 15px;
}

}
</style>