<template>
    <div class="form">
        <input type="text" placeholder="Nombre Completo" class="input-name" v-model="name"/>
        <input
          type="email"
          placeholder="Correo Electrónico"
          class="input-email"
          v-model="email"
        />
        <select v-model="gender" class="sex">          
          <option selected value="0" >Sexo</option>
          <option value="1">Masculino</option>
          <option value="2">Femenino</option>
          <option value="3">Otro</option>
        </select>
        <input
          type="password"
          placeholder="Contraseña"
          class="input-password"
          v-model="password"
        />
        <input
          type="password"
          placeholder="Repetir Contraseña"
          v-model="repeatPassword"
          class="input-password"
        />
        <div v-if="errorPassword" style="color: red">Error en la contraseña</div>
        <div>              
          <v-btn class="px-3 py-7 register-button" @click="registerData()" outlined >
              Registrarse
          </v-btn>     
        </div>
      </div>
</template>

<script>
import Api from '@/services/api.js';

export default {
    name: "RegisterForm",
    data: () => ({
      name: '',
      email: '',
      gender: 0,
      password: '',
      repeatPassword: '',

      errorPassword: false
    }),
    methods:{
      async registerData(){
        if(this.password == this.repeatPassword){
          this.errorPassword = false;
          const body = {
            "name": this.name,
            "email": this.email,
            "gender": this.gender,
            "password": this.password
          }
          const api = new Api();
          const request = await api.singUp(body);
          request.message == 'success' ? this.$router.push({ path: `/` }) : alert('Accesos no permitidos');
        }else{
          this.errorPassword = true;
        }
      }
    }  
}
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Quicksand:wght@300;500;700&display=swap");
.form {
  display: flex;
  flex-direction: column;
  color: #535353;
  
}
.input-name{
  font-family: "Montserrat";
  background: #fbfbfb;
  width: 668px;
  height: 66px;
  font-weight: 400px;
  font-size: 24px;
  border-radius: 20px;  
  margin-top: 20px;
  margin-bottom: 15px;  
  padding-left: 10px;
}
.input-email {
  font-family: "Montserrat";
  background: #fbfbfb;
  width: 668px;
  height: 66px;
  font-weight: 400px;
  font-size: 24px;
  border-radius: 20px;
  position: sticky;  
  margin-bottom: 15px;
  padding-left: 10px;
}
.sex{
  font-family: "Montserrat";
  background: #fbfbfb;
  width: 668px;
  height: 66px;
  font-weight: 400px;
  font-size: 24px;
  border-radius: 20px;
  position: sticky; 
  margin-bottom: 15px;
  color: #535353;
  padding-left: 10px;
}
.input-password {
  font-family: "Montserrat";
  background: #fbfbfb;
  width: 668px;
  height: 66px;
  font-weight: 400px;
  font-size: 24px;
  border-radius: 20px;
  position: sticky;
  margin-bottom: 15px;
  padding-left: 10px;
}
.register-button {
  font-family: "Montserrat";
  color: white;
  padding: 10px 10px 10px 10px;
  font-weight: 600;
  font-size: 24px;
  margin-top: 66px;
  background: #b78f21;
  border-radius: 15px;  
  text-transform: none;
}
.v-btn {
  letter-spacing: 0;
}
.v-btn.v-size--default {
  font-size: 24px;
}
.theme--light.v-btn {
  color: white;
}

.forgot-password {
  font-family: "Montserrat";
  font-weight: 600;
  color: #585858;
  text-decoration: none;
  font-size: 24px;
  padding-left: 19px;
}

@media (max-width: 640px) {
  .image {
    display: none;
  }  
  .log-in {
    font-weight: 600;    
    color: #585858;
    text-decoration: none;
    font-size: 15px;
    
    top: 0;
    padding-top: 280px;
    padding-left: 20px;
    
  }
  .register {
    font-weight: 600;
    color: #b78f21;
    text-decoration: none;
    font-size: 15px;
    
    top: 0;
    padding-top: 280px;
    padding-left: 180px;
    cursor: pointer;
  }
  .input-name{
    font-family: "Montserrat";
    background: #fbfbfb;
    width: 350px;
    height: 50px;
    font-weight: 400px;
    font-size: 15px;
    border-radius: 20px;
    position: relative;
    margin-top: 66px;
    margin-bottom: 15px;
    padding-left: 10px;  
  }
  .input-email {
    font-family: "Montserrat";
    background: #fbfbfb;
    width: 350px;
    height: 50px;
    font-weight: 400px;
    font-size: 15px;
    border-radius: 20px;
    position: relative;    
    margin-bottom: 15px;
    padding-left: 10px;
  }
  .sex{
    font-family: "Montserrat";
    background: #fbfbfb;
    width: 668px;
    height: 50px;
    font-weight: 400px;
    font-size: 15px;
    border-radius: 20px;
    position: relative;
    padding-left: 10px;
    width: 350px;  
    cursor: pointer;
  }
  .input-password {
    font-family: "Montserrat";
    background: #fbfbfb;
    width: 668px;
    height: 50px;
    font-weight: 400px;
    font-size: 15px;
    border-radius: 20px;
    position: relative;
    padding-left: 10px;
    width: 350px;
  }
  
}
</style>
